<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="depth_camera_sensor" params="parent">
        <link name="depth_camera_link">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.01 0.01 0.01"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.01 0.01 0.01"/>
                </geometry>
            </visual>

            <inertial>
                <mass value="1e-5" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
            </inertial>
        </link>

        <joint name="depth_camera_joint" type="fixed">
            <axis xyz="0 1 0" />
            <origin xyz="0 0.15 0.13" rpy="0 0 ${pi/2}"/>
            <parent link="${parent}"/>
            <child link="depth_camera_link"/>
        </joint>

        <gazebo reference="depth_camera_link">
            <sensor name="depth_camera" type="depth">
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>5</update_rate>
                <camera name="depth_camera">
                    <horizontal_fov>1.02974</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>10</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
                <plugin name="depth_camera_controller" filename="libgazebo_ros_camera.so">
                    <camera_name>depth_camera</camera_name>
                    <frame_name>camera_depth_frame</frame_name>
                    <hack_baseline>0</hack_baseline>
                    <min_depth>0.001</min_depth>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>