<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="camera_sensor" params="parent">
        <link name="camera_link">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.01 0.01 0.01"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.01 0.01 0.01"/>
                </geometry>
            </visual>

            <inertial>
                <mass value="1e-5" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
            </inertial>
        </link>

        <joint name="camera_joint" type="fixed">
            <origin xyz="0.15 0.0 0.1" rpy="0 0 0"/>
            <parent link="${parent}"/>
            <child link="camera_link"/>
        </joint>

        <link name="camera_frame">
        </link>

        <joint name="camera_frame_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
            <parent link="camera_link"/>
            <child link="camera_frame"/>
        </joint>
<!-- 
        <link name="cube">
        </link>

        <joint name="cube_frame_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="camera_frame"/>
            <child link="cube"/>
        </joint> -->

        <gazebo reference="camera_link">
            <sensor type="camera" name="camera">
                <visualize>true</visualize>
                <update_rate>30.0</update_rate>
                <camera name="head">
                    <horizontal_fov>1.5</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>320</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>300</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
                <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                    <alwaysOn>true</alwaysOn>
                    <updateRate>10.0</updateRate>
                    <cameraName>tolya/camera</cameraName>
                    <imageTopicName>image_raw</imageTopicName>
                    <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                    <frameName>camera_frame</frameName>
                    <hackBaseline>0.07</hackBaseline>
                    <distortionK1>0.041074563385132476</distortionK1>
                    <distortionK2>-0.23317633985075079</distortionK2>
                    <distortionK3>0.002736896865846102,</distortionK3>
                    <distortionT1>0.0013594533508533232,</distortionT1>
                    <distortionT2>0.24301538197366987</distortionT2>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>